<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ApFilmografia</display-name>
  <context-param>
  	<param-name>URLDataSource</param-name>
  	<param-value>java:jboss/datasources/dscine</param-value>
  </context-param>
  <servlet>
   	<servlet-name>ConsultaCine</servlet-name>
  	<servlet-class>filmografia.servlet.ConsultaCine</servlet-class>
  	<enabled>true</enabled>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ConsultaCine</servlet-name>
  	<url-pattern>/consultar</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>consulta.jsp</welcome-file>
  </welcome-file-list>
</web-app>